{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Log Out{% endblock %}

{% block content %}
  <h1>Log Out</h1>
  <p>Are you sure you want to log out?</p>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-danger" type="submit">Log Out</button>
  </form>
  <div class="row align-items-center">

    <img class="img-fluid" src="{% static '/images/logout.jpg' %}" alt=":)" style="width:500px;height:400px;">

  </div>
{% endblock content %}
