{% extends  "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Profile {% endblock title %}

{% block content %}

<div class="container">
  <div class="row align-items-center">


    <h2 class="display-1 text-center">Profile for {{user.username}}</h2>

      <div class="col-md">

          <p class ="lead justify-content-center">
            <br>
            <br>
            <b>Username:</b> {{user.username}}<br>
            <b>Email</b>: {{user.email}}<br>
            <b>Dungeon name:</b> {{user.dungeon_name}}<br>
            <b>Dungeon URL:</b> <a href="/accounts/{{user.username}}">accounts/{{user.username}}</a>


          </p>
          <br>
          <a href="{% url 'editprofile' %}" class="btn btn-dark" role="button">Edit profile</a>
      </div>
      <div class="col-md">
        <img class="img-fluid" src="{% static 'images/beholder.jpg' %}" alt="beholder">
      </div>

    </div>
</div>


{% endblock content %}
